tema3/CarServiceSolution/CarWinForm/Connected Services/ServiceReference1/PC.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CarService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CarService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8181/PC?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Auto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutoId" type="xs:int" />
      <xs:element minOccurs="0" name="Client" nillable="true" type="tns:Client" />
      <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      <xs:element minOccurs="0" name="NumarAuto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sasiu" nillable="true" type="tns:Sasiu" />
      <xs:element minOccurs="0" name="SerieSasiu" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Auto" nillable="true" type="tns:Auto" />
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Judet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Localitate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nume" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prenume" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefon" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
  <xs:complexType name="Sasiu">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodSasiu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Denumire" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SasiuId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sasiu" nillable="true" type="tns:Sasiu" />
  <xs:complexType name="ArrayOfAuto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Auto" nillable="true" type="tns:Auto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuto" nillable="true" type="tns:ArrayOfAuto" />
  <xs:complexType name="ArrayOfClient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Client" nillable="true" type="tns:Client" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClient" nillable="true" type="tns:ArrayOfClient" />
  <xs:complexType name="Comanda">
    <xs:sequence>
      <xs:element minOccurs="0" name="Auto" nillable="true" type="tns:Auto" />
      <xs:element minOccurs="0" name="Client" nillable="true" type="tns:Client" />
      <xs:element minOccurs="0" name="ComandaID" type="xs:int" />
      <xs:element minOccurs="0" name="DAtaSystem" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataFinalizare" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataProgramare" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Descriere" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetaliuComanda" nillable="true" type="tns:DetaliuComanda" />
      <xs:element minOccurs="0" name="KmBord" type="xs:int" />
      <xs:element minOccurs="0" name="Operaties" nillable="true" type="tns:ArrayOfOperatie" />
      <xs:element minOccurs="0" name="StareComanda" type="tns:StareComanda" />
      <xs:element minOccurs="0" name="ValoarePiese" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Comanda" nillable="true" type="tns:Comanda" />
  <xs:complexType name="DetaliuComanda">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comanda" nillable="true" type="tns:Comanda" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Imagines" nillable="true" type="tns:ArrayOfImagine" />
      <xs:element minOccurs="0" name="Materials" nillable="true" type="tns:ArrayOfMaterial" />
      <xs:element minOccurs="0" name="Mecanics" nillable="true" type="tns:ArrayOfMecanic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetaliuComanda" nillable="true" type="tns:DetaliuComanda" />
  <xs:complexType name="ArrayOfImagine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Imagine" nillable="true" type="tns:Imagine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImagine" nillable="true" type="tns:ArrayOfImagine" />
  <xs:complexType name="Imagine">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Descriere" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetaliuComanda" nillable="true" type="tns:DetaliuComanda" />
      <xs:element minOccurs="0" name="Foto" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ImagineId" type="xs:int" />
      <xs:element minOccurs="0" name="Titlu" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Imagine" nillable="true" type="tns:Imagine" />
  <xs:complexType name="ArrayOfMaterial">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Material" nillable="true" type="tns:Material" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMaterial" nillable="true" type="tns:ArrayOfMaterial" />
  <xs:complexType name="Material">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantitate" type="xs:decimal" />
      <xs:element minOccurs="0" name="DataAprovizionare" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Denumire" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialId" type="xs:int" />
      <xs:element minOccurs="0" name="Pret" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Material" nillable="true" type="tns:Material" />
  <xs:complexType name="ArrayOfMecanic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Mecanic" nillable="true" type="tns:Mecanic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMecanic" nillable="true" type="tns:ArrayOfMecanic" />
  <xs:complexType name="Mecanic">
    <xs:sequence>
      <xs:element minOccurs="0" name="MecanicId" type="xs:int" />
      <xs:element minOccurs="0" name="Nume" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prenume" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Mecanic" nillable="true" type="tns:Mecanic" />
  <xs:complexType name="ArrayOfOperatie">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Operatie" nillable="true" type="tns:Operatie" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOperatie" nillable="true" type="tns:ArrayOfOperatie" />
  <xs:complexType name="Operatie">
    <xs:sequence>
      <xs:element minOccurs="0" name="Denumire" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperatieId" type="xs:int" />
      <xs:element minOccurs="0" name="TimpExecutie" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Operatie" nillable="true" type="tns:Operatie" />
  <xs:simpleType name="StareComanda">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Asteptare">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Executata">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Refuz">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="StareComanda" nillable="true" type="tns:StareComanda" />
  <xs:complexType name="ArrayOfComanda">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Comanda" nillable="true" type="tns:Comanda" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComanda" nillable="true" type="tns:ArrayOfComanda" />
  <xs:complexType name="ArrayOfDetaliuComanda">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DetaliuComanda" nillable="true" type="tns:DetaliuComanda" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetaliuComanda" nillable="true" type="tns:ArrayOfDetaliuComanda" />
  <xs:complexType name="ArrayOfSasiu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sasiu" nillable="true" type="tns:Sasiu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSasiu" nillable="true" type="tns:ArrayOfSasiu" />
</xs:schema>