tema3/CarServiceSolution/CarWinForm/Connected Services/ServiceReference1/PC1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8181/PC?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CarService" />
  <xs:element name="AddAuto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="entity" nillable="true" type="q1:Auto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAutoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAuto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="entity" nillable="true" type="q2:Auto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAutoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="GetAutoResult" nillable="true" type="q3:Auto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutoByClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutoByClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="GetAutoByClientResult" nillable="true" type="q4:ArrayOfAuto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAuto">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="GetAllAutoResult" nillable="true" type="q5:ArrayOfAuto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAuto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="entity" nillable="true" type="q6:Auto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAutoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAuto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="entity" nillable="true" type="q7:Auto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAutoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="entity" nillable="true" type="q8:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="entity" nillable="true" type="q9:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="GetClientResult" nillable="true" type="q10:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClient">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="GetAllClientResult" nillable="true" type="q11:ArrayOfClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="entity" nillable="true" type="q12:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertClientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="entity" nillable="true" type="q13:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddComanda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="entity" nillable="true" type="q14:Comanda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddComandaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteComanda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="entity" nillable="true" type="q15:Comanda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteComandaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComanda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComandaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="GetComandaResult" nillable="true" type="q16:Comanda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllComanda">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllComandaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="GetAllComandaResult" nillable="true" type="q17:ArrayOfComanda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertComanda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="entity" nillable="true" type="q18:Comanda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertComandaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateComanda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="entity" nillable="true" type="q19:Comanda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateComandaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDetaliuComanda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="entity" nillable="true" type="q20:DetaliuComanda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDetaliuComandaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDetaliuComanda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="entity" nillable="true" type="q21:DetaliuComanda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDetaliuComandaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetaliuComanda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetaliuComandaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="GetDetaliuComandaResult" nillable="true" type="q22:DetaliuComanda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDetaliuComanda">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDetaliuComandaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="GetAllDetaliuComandaResult" nillable="true" type="q23:ArrayOfDetaliuComanda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDetaliuComanda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="entity" nillable="true" type="q24:DetaliuComanda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDetaliuComandaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDetaliuComanda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="entity" nillable="true" type="q25:DetaliuComanda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDetaliuComandaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddImagine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="entity" nillable="true" type="q26:Imagine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddImagineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteImagine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="entity" nillable="true" type="q27:Imagine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteImagineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImagine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImagineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="GetImagineResult" nillable="true" type="q28:Imagine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllImagine">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllImagineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="GetAllImagineResult" nillable="true" type="q29:ArrayOfImagine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertImagine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="entity" nillable="true" type="q30:Imagine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertImagineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateImagine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="entity" nillable="true" type="q31:Imagine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateImagineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="entity" nillable="true" type="q32:Material" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMaterialResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="entity" nillable="true" type="q33:Material" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMaterialResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="GetMaterialResult" nillable="true" type="q34:Material" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMaterial">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="GetAllMaterialResult" nillable="true" type="q35:ArrayOfMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="entity" nillable="true" type="q36:Material" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMaterialResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="entity" nillable="true" type="q37:Material" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMaterialResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMecanic">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="entity" nillable="true" type="q38:Mecanic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMecanicResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMecanic">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="entity" nillable="true" type="q39:Mecanic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMecanicResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMecanic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMecanicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="GetMecanicResult" nillable="true" type="q40:Mecanic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMecanic">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMecanicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="GetAllMecanicResult" nillable="true" type="q41:ArrayOfMecanic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMecanic">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="entity" nillable="true" type="q42:Mecanic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMecanicResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMecanic">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="entity" nillable="true" type="q43:Mecanic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMecanicResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOperatie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="entity" nillable="true" type="q44:Operatie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOperatieResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOperatie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="entity" nillable="true" type="q45:Operatie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOperatieResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperatie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperatieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="GetOperatieResult" nillable="true" type="q46:Operatie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOperatie">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOperatieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="GetAllOperatieResult" nillable="true" type="q47:ArrayOfOperatie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOperatie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="entity" nillable="true" type="q48:Operatie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOperatieResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOperatie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="entity" nillable="true" type="q49:Operatie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOperatieResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSasiu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="entity" nillable="true" type="q50:Sasiu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSasiuResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSasiu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="entity" nillable="true" type="q51:Sasiu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSasiuResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSasiu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSasiuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="GetSasiuResult" nillable="true" type="q52:Sasiu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSasiu">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSasiuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="GetAllSasiuResult" nillable="true" type="q53:ArrayOfSasiu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSasiu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="entity" nillable="true" type="q54:Sasiu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSasiuResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSasiu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/CarService" minOccurs="0" name="entity" nillable="true" type="q55:Sasiu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSasiuResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>